<!DOCTYPE html>
<html ng-app="ticTacApp">
<head>
    <title></title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Angular -->
    <script src="angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.1.0/firebase.js"></script>
    <!-- AngularFire -->
    <script src="angularfire.min.js"></script>
    <!-- Javascript -->
    <script src="app.js"></script>
</head>

<body ng-controller="ticTacCtrl" onload="disableButton()">
	<div id="header" class="center">
		<div id="header1">
			Let's play
		</div>
		<div id="header2">
			Tic Tac Toe
		</div>
	</div>

	<div id="subheader" class="center">
	</div><br><br>

	<!-- Scoreboard -->
<div id="gameArea" class="center">
	<div id="scoreBoard">
		<br>
		<div id="scoreBoardHeader">
			Scoreboard
		</div>
		<br>
		<div class="playerNames">
			Player 1
		</div>
		<div id="player1" class="scores">
			0
		</div>
		<br>
		<div class="playerNames">
			Player 2
		</div>
		<div id="player2" class="scores">
			0
		</div>
		<br>
		<button id="replay" class="button" ng-click="playAgain()">
			Play Again
		</button>
	</div>

<!-- TTT board build out -->
    <div id="board" class="center" ng-model="marker">
        <div class="squares"
	        ng-repeat="square in board track by $index"
	        ng-click="onClick($index)"
	        ng-bind="board[$index].marker">
        </div>
    </div>    

</body>
</html>