<!DOCTYPE html>
<html ng-app="ticTacApp">
<head>
    <title></title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Angular -->
    <script src="angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.1.0/firebase.js"></script>
    <!-- AngularFire -->
    <script src="angularfire.min.js"></script>
    <!-- Javascript -->
    <script src="app.js"></script>
</head>

<body ng-controller="ticTacCtrl">
	<div id="subheader">
	</div>
<!-- TTT board build out -->
    <div id="board">
        <div class="squares"
	        ng-repeat="square in board track by $index"
	        ng-click="onClick($index)"
	        ng-bind="board[$index].marker">
        </div>
    </div>    
    
</body>
</html>